<div>

        <div class='flex-container'>
                <div class='flex-item'>1</div>
                <div class='flex-item'>2</div>
                <div class='flex-item'>3</div>
                <div class='flex-item'>4</div>
                <div class='flex-item'>5</div>
                <div class='flex-item'>6</div>
        </div>

        <div class='card-container clearfix'>
                <div class='card-item pull-left'>1</div>
                <div class='card-item pull-left'>2</div>
                <div class='card-item pull-left'>3</div>
                <div class='card-item pull-left'>4</div>
                <div class='card-item pull-left'>5</div>
                <div class='card-item pull-left'>6</div>
        </div>
</div>